<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFewUf02oTHX1rI9auaHtH2_TtD4WGiSg</string>
	<key>GCM_SENDER_ID</key>
	<string>244756081703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.workout02</string>
	<key>PROJECT_ID</key>
	<string>workout02-4b425</string>
	<key>STORAGE_BUCKET</key>
	<string>workout02-4b425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244756081703:ios:b5d5cc39b1d417d4e33202</string>
</dict>
</plist>